<div>
    <h1>My Grocery List</h1>
    <ul>
    <%include item.ejs %>
    </ul>
</div>


<!--     <ul>
    <% for(var i = 0; i < groceries.length; i++) { %>
    <% include item.ejs %>
    <% } %>
    </ul> -->